 <div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="login-banner text-center">
        <h1>Welcome </h1>
      </div>
      <div class="portlet portlet-green">
        <div class="portlet-heading login-heading">
          <div class="portlet-title">
            <h4><strong>Login Here!</strong>
            </h4>
          </div>
          <div class="portlet-widgets">
            <!--<button class="btn btn-white btn-xs"><i class="fa fa-plus-circle"></i> New User</button>-->
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="portlet-body">
          <form (ngSubmit)="login()" [formGroup]="login_form">
            <fieldset>
              <div class="form-group">
                <input class="form-control" placeholder="Username" type="text" formControlName="username">
              </div>
              <div>
             <span *ngIf="(login_form.get('username').touched || login_form.get('username').dirty) && login_form.get('username').errors">
                <span *ngIf="login_form.get('username').errors.required" style="color:red">  Please enter your username. </span>
            </span> 
          </div>
              <div class="form-group">
                <input class="form-control" placeholder="Password" formControlName="password" type="password" value="">
              </div>
              <div>
            <span *ngIf="(login_form.get('password').touched || login_form.get('password').dirty) && login_form.get('password').errors">
                <span *ngIf="login_form.get('password').errors.required" style="color:red">  Please enter your Password. </span>
            </span>
          </div>
              <br>
              <div *ngIf="error_msg" style="color: red">{{msg}}</div>
              <button type="submit" class="btn btn-lg btn-green btn-block">Sign In</button>
            </fieldset>
            <br>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
