 
<!--<style>
table, th, td {
    border: 1px solid black;
}
td {
  padding: 8px 0;
}
</style>-->
<div class="portlet portlet-default">
  <div class="portlet-heading">
    <div class="portlet-title">
      <h4> ISSUES LIST </h4>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="portlet-body">
    <form (ngSubmit)="getSelIssueData()" method="post" class="form-horizontal" [formGroup]="issues_form" novalidate>
      <div class="col-md-12">
        <div class="form-group">
          <div class="col-md-3">
            <label>Category</label>
            <!--<select    formControlName="username" class="form-control">
              <option *ngFor="let user of tot_users" value="user.value">{{user.label}}</option>
          </select>-->
            <select formControlName="seluserid" class="form-group form-control" (change)="selCategory($event)">
                   <option *ngFor="let cl of categoriesList" value="{{cl.domain}}">{{cl.domain_title}}</option>
                     
          </select>
          </div>
          <div class="col-md-2">
            <label for="email">From Date</label>

            <app-date type="day" ngDefaultControl value="" [endDate]="start_date" formControlName="from_date" (dateChange)="dateChanged('start_date', $event)">
            </app-date>

          </div>
          <div class="col-md-2">
            <label for="email">To Date</label>
            <app-date type="day" ngDefaultControl value="" [endDate]="start_date" formControlName="to_date" (dateChange)="dateChanged('end_date', $event)">
            </app-date>
          </div>
          <div class="col-md-2">
            <label for="email">Status</label>
            <select class="form-control" formControlName="selstatus" >
                   <option selected value="verified_resolved">Verified Resolved</option>
                   <option selected value="resolution_in_progress">Resolution in Progress</option>
                   <option value="pending">Pending</option>
                   <option value="cannot_be_resolved">Cannot be resolved</option>
                   <option value="user_deleted">User Deleted  </option> 
                    <option value="all">All </option> 
              </select>
          </div>
          <div class="col-md-2">
            <button type="submit"  [disabled]="!issues_form.valid" class="btn btn-primary col-md-6" style="margin-top: 25px;">Submit</button>
          </div>
        </div>
      </div>

      <!--<div>
                        Filter by name:
                        <input class="form-control" [(ngModel)]="filterQuery" formControlName="selstatus1" />
                    </div>-->


      <div class="">
        <table class="table table-responsive table-bordered table-green" [mfData]="data | dataFilter:filterQuery" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage"
          [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
          <thead>

            <tr>
              <th style="min-width: 90px;">
                <mfDefaultSorter by="insert_dt">Date </mfDefaultSorter>
              </th>

              <th>
                <mfDefaultSorter by="issue_desc">Issue</mfDefaultSorter>
              </th>
              <th>
                <mfDefaultSorter by="location">Location</mfDefaultSorter>
              </th>
              <th>
                <mfDefaultSorter by="problem">Problem</mfDefaultSorter>
              </th>
              <th>
                <mfDefaultSorter by="problem">Priority</mfDefaultSorter>
              </th>
              <th>
                <mfDefaultSorter by="raised_by">Raised By</mfDefaultSorter>
              </th>
              <th>
                <mfDefaultSorter [by]="mobile">Mobile</mfDefaultSorter>
              </th>
              <th>
                <mfDefaultSorter [by]="status"> Status</mfDefaultSorter>
              </th>
              <th>
                Options
              </th>
               

            </tr>
            <tr>

            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of mf.data; let i=index;">

              <td>{{item.insert_dt|date:'dd-MM-yyyy'}}</td>
              <td>{{item.issue_desc}}</td>
              <td>{{item.location}}</td>
              <td>{{item.problem}}</td>
              <td>{{item.priority}}</td>
              <td> {{item.raised_by}}</td>
              <td> {{item.mobile}}</td>

              <td>{{item.status}}</td>
              <td *ngIf="(item.status=='verified_resolved' || item.status=='resolution_in_progress' || item.status=='cannot_be_resolved' || item.status=='user_deleted' || item.status=='pending') && (item.repaired_on !=null || item.repaired_by !=null || item.date_of_resolution !=null || item.notes !=null) ">
                <a (click)="details(item)" class="btn btn-danger">Details</a>
              </td>
              <td *ngIf="item.status == null || item.repaired_on ==null && item.repaired_by ==null && item.date_of_resolution ==null && item.notes ==null "> 

                
              </td>
              <!--<td>{{item.priority}}</td>
              <td>{{item.repaired_on|date:'dd-MM-yyyy hh:mm'}}</td>
              <td>{{item.date_of_resolution|date:'dd-MM-yyyy hh:mm'}}</td>
             
              <td>{{item.status}}</td>-->


            </tr>
          </tbody>

          <tfoot>
            <tr>
              <td colspan="12">
                <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>

    </form>
    <div class="clearfix"></div>
  </div>
</div>

 <app-modal #modal1>
    <div class="app-modal-header">
     <h4 style="color:black">View issue </h4> 
    </div>
    <div class="app-modal-body">

    <table class="table table-bordered table-responsive" >
  <tr>
    <th>Repaired On</th>
    <td *ngIf="on == null">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
     <td *ngIf = "on !=null">{{on}}</td>
    
  </tr>
  <tr>
    <th>Repaired By</th>
     <td *ngIf="by == null">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
    <td *ngIf = "by !=null">{{by}}</td>
  </tr>
  <tr>
   <th>Date of Resolution</th>
    <td *ngIf="resolution == null">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
    <td *ngIf = "resolution !=null">{{resolution}}</td>
  </tr>
  <tr>
   <th>Notes</th>
    <td *ngIf="notes == null">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
    <td *ngIf = "notes !=null">{{notes}}</td>
  </tr>

</table>
       </div>
  
    <div class="app-modal-footer">
      <button type="button" class="btn btn-default" (click)="modal1.hide()">Close</button>
      <!--<button type="button" class="btn btn-primary" (click)="ok()">OK</button>-->
    </div>
 </app-modal>